<div class="containers">
  <div class="example-container">
    <h3>Open</h3>
    <div cdkDropList
         #openList="cdkDropList"
         [cdkDropListData]="openItems"
         [cdkDropListConnectedTo]="[progressList]"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box"
           *ngFor="let item of openItems"
           cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h3>In Progress</h3>
    <div cdkDropList
         #progressList="cdkDropList"
         [cdkDropListData]="progressItems"
         [cdkDropListConnectedTo]="[openList, reviewList]"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box"
           *ngFor="let item of progressItems"
           cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h3>In Review</h3>
    <div cdkDropList
         #reviewList="cdkDropList"
         [cdkDropListData]="reviewItems"
         [cdkDropListConnectedTo]="[progressList, verificationList]"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box"
           *ngFor="let item of reviewItems"
           cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h3>In Verification</h3>
    <div cdkDropList
         #verificationList="cdkDropList"
         [cdkDropListData]="verificationItems"
         [cdkDropListConnectedTo]="[progressList, doneList]"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box"
           *ngFor="let item of verificationItems"
           cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h3>Done</h3>
    <div cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="doneItems"
         [cdkDropListConnectedTo]="[]"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box"
           *ngFor="let item of doneItems"
           cdkDrag>{{item}}</div>
    </div>
  </div>

</div>
