<div class="containers">
  <div class="example-container">
    <h3>Opened</h3>
    <div cdkDropList
         #openList="cdkDropList"
         [cdkDropListData]="openItems"
         [cdkDropListConnectedTo]="[progressList]"
         class="example-list"
         (cdkDropListDropped)="drop($event, taskStatus.OPEN)">
      <div class="example-box"
           *ngFor="let item of openItems"
           cdkDrag>
        <div>
          <h4>{{item.name}}</h4>
          <p>Type: {{item.type}}</p>
          <p>Estimation: {{item.estimation}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>In Progress</h3>
    <div cdkDropList
         #progressList="cdkDropList"
         [cdkDropListData]="progressItems"
         [cdkDropListConnectedTo]="[openList, reviewList]"
         class="example-list"
         (cdkDropListDropped)="drop($event, taskStatus.IN_PROGRESS)">
      <div class="example-box"
           *ngFor="let item of progressItems"
           cdkDrag>
        <div>
          <h4>{{item.name}}</h4>
          <p>Type: {{item.type}}</p>
          <p>Estimation: {{item.estimation}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>In Review</h3>
    <div cdkDropList
         #reviewList="cdkDropList"
         [cdkDropListData]="reviewItems"
         [cdkDropListConnectedTo]="[progressList, verificationList]"
         class="example-list"
         (cdkDropListDropped)="drop($event, taskStatus.IN_REVIEW)">
      <div class="example-box"
           *ngFor="let item of reviewItems"
           cdkDrag>
        <div>
          <h4>{{item.name}}</h4>
          <p>Type: {{item.type}}</p>
          <p>Estimation: {{item.estimation}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>In Verification</h3>
    <div cdkDropList
         #verificationList="cdkDropList"
         [cdkDropListData]="verificationItems"
         [cdkDropListConnectedTo]="[progressList, readyList]"
         class="example-list"
         (cdkDropListDropped)="drop($event, taskStatus.IN_VERIFICATION)">
      <div class="example-box"
           *ngFor="let item of verificationItems"
           cdkDrag>
        <div>
          <h4>{{item.name}}</h4>
          <p>Type: {{item.type}}</p>
          <p>Estimation: {{item.estimation}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>Ready</h3>
    <div cdkDropList
         #readyList="cdkDropList"
         [cdkDropListData]="readyItems"
         [cdkDropListConnectedTo]="[]"
         class="example-list"
         (cdkDropListDropped)="drop($event, taskStatus.READY)">
      <div class="example-box"
           *ngFor="let item of readyItems"
           cdkDrag>
        <div>
          <h4>{{item.name}}</h4>
          <p>Type: {{item.type}}</p>
          <p>Estimation: {{item.estimation}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
