<div class="backlog-view">
  <ng-container *ngIf="selectedProjectId !== '0' && tasks; else noProjects">
    <div class="sprints-header">
      <h2>Backlog</h2>
    </div>

    <app-sprint-expansion-panel
      expansionPanelTitle="Backlog"
      expansionPanelSubtitle="All tasks in Backlog"
      [dataSource]="tasks"
      (taskAddition)="taskAddition($event)"
      sprintId="0">
    </app-sprint-expansion-panel>

    <mat-divider class="divider"></mat-divider>

    <div class="sprints-header">
      <h2>Sprints list</h2>
      <div class="button-wrapper">
        <button mat-raised-button
                color="secondary"
                class="add-sprint"
                (click)="addSprint()">
          Add Sprint
        </button>
      </div>
    </div>

    <ng-container *ngIf="sprints.length; else noSprints">
      <ng-container *ngFor="let sprint of sprints; index as i">
        <app-sprint-expansion-panel expansionPanelTitle="Sprint {{sprint.index}}"
                                    expansionPanelSubtitle="All tasks in Sprint {{sprint.index}}
                                    [{{sprint.active ? 'Active' : 'Inactive'}}]"
                                    [dataSource]="sprints[i] ? sprints[i].tasks : []"
                                    sprintId="{{sprint._id}}"
                                    (taskAddition)="taskAddition($event, sprint._id)"></app-sprint-expansion-panel>
      </ng-container>
    </ng-container>

    <ng-template #noSprints>
      <h3>Your sprints list is empty</h3>
    </ng-template>
  </ng-container>

  <ng-template #noProjects>
    <div class="loader" *ngIf="isLoading; else notLoading">
      <mat-spinner [diameter]="25"></mat-spinner>
      <h3>Loading backlog...</h3>
    </div>
    <ng-template #notLoading>
      <h2>
        There are no projects yet, please create a project in the 'Projects' tab.
      </h2>
    </ng-template>

  </ng-template>

</div>
