.container {
  width: 100%;
  height: calc(100% - 64px);

  .sidebar-menu {
    width: 200px;

    .nav-link {
      color: black;
      text-decoration: none;
      line-height: 48px;
    }

    .nav-link:hover {
      color: blue;
    }

    .active {
      color: red;

      .nav-link {
        color: red;
      }
    }
  }

  .menu-button {
    position: fixed;
    top: 14px;
    left: 200px;
  }
}
