<div mat-dialog-content>
  <p>{{data.name ? 'Update task data:' : 'Enter the new task data:'}}</p>
  <mat-form-field>
    <input matInput
           [(ngModel)]="name"
           placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="type"
                placeholder="Type">
      <mat-option *ngFor="let type of types"
                  [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="estimation"
                placeholder="Estimation">
      <mat-option *ngFor="let est of estimates"
                  [value]="est">{{est}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <mat-select [(ngModel)]="assignedUser"
                  placeholder="Assigned user">
        <mat-option *ngFor="let user of allUsers"
                    [value]="user">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field>
    <input matInput
           [(ngModel)]="description"
           placeholder="Description">
  </mat-form-field>
</div>
<div mat-dialog-actions
     class="actions">
  <button mat-raised-button
          color="secondary"
          (click)="onCancelClick()">
    Cancel
  </button>
  <button mat-raised-button
          color="primary"
          [disabled]="isLoading || createButtonDisabled"
          (click)="onCreate()">
    {{data.name ? 'Update' : 'Create'}}
  </button>
</div>
