<div class="projects-view">
  <div class="title-header">
    <h2>Projects list</h2>
    <div class="button-wrapper">
      <button mat-raised-button
              color="secondary"
              class="create-project"
              (click)="openCreateProjectDialog()">
        Create Project
      </button>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         class="projects-table">

    <ng-container matColumnDef="no">
      <th mat-header-cell
          *matHeaderCellDef
          class="id">No.
      </th>
      <td mat-cell
          *matCellDef="let element; let i = index"
          class="id">
        {{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          class="name">Project Name
      </th>
      <td mat-cell
          *matCellDef="let element"
          class="name">
        {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="users">
      <th mat-header-cell
          *matHeaderCellDef
          class="users">Assigned users
      </th>
      <td mat-cell
          *matCellDef="let element; let i = index"
          class="users">
        <ng-container *ngIf="projectsUsersNames; else loadingUsers">
          {{projectsUsersNames[i]}}
          <button mat-icon-button
                  class="panel-add-task"
                  (click)="editProjectUsers(element._id)">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
        <ng-template #loadingUsers>
          <mat-spinner [diameter]="20"></mat-spinner>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell
          *matHeaderCellDef
          class="action"></th>
      <td mat-cell
          *matCellDef="let element; let i = index"
          class="action">
        <button mat-icon-button
                (click)="deleteProject(element._id); disabledDeleteIndexes[i] = true"
                [disabled]="disabledDeleteIndexes[i]">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="isLoading"
       class="loader">
    <mat-spinner [diameter]="25"></mat-spinner>
    <h4>Loading projects...</h4>
  </div>
  <div *ngIf="!isLoading && dataSource.length === 0"
       class="loader">
    <h4>No projects for current user...</h4>
  </div>

</div>
