<div class="projects-view">
  <div class="title-header">
    <h2>Projects list</h2>
    <div class="button-wrapper">
      <button mat-raised-button
              color="secondary"
              class="create-project"
              (click)="openCreateProjectDialog()">
        Create Project
      </button>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         class="projects-table">

    <ng-container matColumnDef="no">
      <th mat-header-cell
          *matHeaderCellDef
          class="id">No.
      </th>
      <td mat-cell
          *matCellDef="let element; let i = index"
          class="id">
        {{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          class="name">Project Name
      </th>
      <td mat-cell
          *matCellDef="let element"
          class="name">
        {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell
          *matHeaderCellDef
          class="action"></th>
      <td mat-cell
          *matCellDef="let element"
          class="action">
        <button mat-icon-button (click)="deleteProject(element.id)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
