<div mat-dialog-content>
  <p>Enter the new project name:</p>
  <mat-form-field>
    <input matInput
           [(ngModel)]="name"
           placeholder="Name">
  </mat-form-field>
</div>
<div mat-dialog-actions
     class="actions">
  <button mat-raised-button
          color="secondary"
          (click)="onCancelClick()">
    Cancel
  </button>
  <button mat-raised-button
          color="primary"
          (click)="onCreate(); isLoading = true"
          [disabled]="!name?.length || isLoading">
    Apply
  </button>
</div>
