<div class="login-card-container">
  <mat-card class="login-card">
    <mat-card-header class="header">
      <mat-card-title>
        <span class="nav-bar-item image-title-container">
          <img class="logo"
               [src]="imagePath"/>
          <span class="main-title"> {{ title }}
            Register </span>
        </span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerFormGroup"
            class="login-form">
        <mat-form-field class="login-input">
          <input matInput
                 formControlName="email"
                 placeholder="E-mail Address"
                 name="email"
                 email
                 required/>
          <mat-error *ngIf="registerFormGroup.controls.email.errors?.email as email">
            E-mail is invalid!
          </mat-error>
          <mat-error *ngIf="registerFormGroup.controls.email.errors?.required">
            E-mail is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-input">
          <input matInput
                 formControlName="password"
                 placeholder="Password"
                 type="password"
                 name="password"
                 required/>
          <mat-error *ngIf="registerFormGroup.controls.password.errors?.minlength as minLength">
            {{"Required min length is " + minLength.requiredLength + ", but actually it's " + minLength.actualLength}}
          </mat-error>
          <mat-error *ngIf="registerFormGroup.controls.password.errors?.required">
            Password is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-input">
          <input matInput
                 formControlName="name"
                 placeholder="User Name"
                 name="name"
                 required/>
          <mat-error *ngIf="registerFormGroup.controls.name.errors?.required">
            User Name is required!
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="form-actions">
      <div class="actions-container">
        <button mat-raised-button
                (click)="cancel()"
                color="secondary">Cancel
        </button>
        <button mat-raised-button
                (click)="register()"
                color="primary"
                [disabled]="registerFormGroup.invalid || isLoading">Register
        </button>
      </div>
    </mat-card-actions>

    <mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>

  </mat-card>
</div>
