.top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;

  .left-side {
    display: flex;
    align-items: center;
    width: 500px;

    .top-bar__app-logo-and-title__container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 0 60px 0 10px;

      .top-bar__logo {
        width: 50px;
        height: 50px;;
      }

      .top-bar__app-title {
        font-weight: 900;
        font-size: 110%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .top-bar__select-project__container {
      font-size: 15px;
      padding: 15px 0 0 120px;
    }
  }

  .top-bar__user {
    padding: 0 15px;
    height: 50px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .top-bar__user-image {
      width: 50px;
      font-size: 50px;
    }

    .top-bar__user-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
    }

    .top-bar__log-out__button {
      height: 100%;
      margin-left: 30px;
      width: 50px;
    }
  }
}
