<mat-toolbar class="top-bar">

  <div class="top-bar__app-logo-and-title__container">
    <img class="top-bar__logo"
         [src]="imagePath">
    <span class="top-bar__app-title">
      {{title}}
    </span>
  </div>

  <div class="top-bar__select-project__container">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedProjectId"
                  (selectionChange)="projectChanged($event)"
                  placeholder="Project">
        <mat-option *ngFor="let project of projects"
                    [value]="project._id">{{project.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="top-bar__user">
    <mat-icon class="top-bar__user-image">mood</mat-icon>
    <span class="top-bar__user-name">
      {{name}}
    </span>
    <button class="top-bar__log-out__button"
            mat-icon-button
            (click)="logout()">
      <mat-icon class="top-bar__user-image">power_settings_new</mat-icon>
    </button>
  </div>

</mat-toolbar>
