<div class="expansion-panel-wrapper">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        {{expansionPanelTitle}}
      </mat-panel-title>
      <mat-panel-description class="panel-subtitle">
        {{expansionPanelSubtitle}}
      </mat-panel-description>
      <button mat-icon-button
              class="panel-add-task"
              (click)="addTask(); $event.stopPropagation()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <table mat-table
           [dataSource]="dataSource"
           class="sprint-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef
            class="name">Name
        </th>
        <td mat-cell
            *matCellDef="let element"
            class="name">
          {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell
            *matHeaderCellDef
            class="type">Type
        </th>
        <td mat-cell
            *matCellDef="let element"
            class="type">
          {{element.type}}</td>
      </ng-container>

      <ng-container matColumnDef="estimation">
        <th mat-header-cell
            *matHeaderCellDef
            class="estimation">Estimation
        </th>
        <td mat-cell
            *matCellDef="let element"
            class="estimation">
          {{element.estimation}}</td>
      </ng-container>

      <ng-container matColumnDef="assigned">
        <th mat-header-cell
            *matHeaderCellDef
            class="assigned">Assigned
        </th>
        <td mat-cell
            *matCellDef="let element"
            class="assigned">
          {{element.assigned}}</td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-container *ngIf="!dataSource?.length">
      <h3>List of tasks is empty</h3>
    </ng-container>

  </mat-expansion-panel>
</div>
