<mat-toolbar>
  <span>{{ title }}</span>
  <span class="menu-space"></span>
  <span>Text</span>
  <span class="menu-space"></span>
  <span>Text</span>
  <span class="menu-space"></span>
  <span>Text</span>
  <span class="menu-space"></span>
  <span>Text</span>
</mat-toolbar>

<mat-drawer-container class="container"
  [hasBackdrop]="false">
  <mat-drawer #drawer
    mode="side" opened="true">Sidebar menu items</mat-drawer>
  <mat-drawer-content>
    <button mat-raised-button
      (click)="drawer.toggle()">Toggle sidebar</button>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
