.sprint-view {
  padding: 0 15px;

  .view-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .view-header__title {
      display: flex;
      flex-direction: column;

      h3 {
        color: dimgray;
      }
    }
  }
}
