<div class="sprint-view" *ngIf="!isLoading; else loading">
  <div class="view-header">
    <div class="view-header__title">
      <h2>Maintain Sprint Tasks</h2>
      <h3 *ngIf="!selectedSprintId">Create Sprint in Backlog tab to maintain tasks</h3>
    </div>

    <div class="select-project-wrapper">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedSprintId"
                    (selectionChange)="sprintChanged($event.value)"
                    [placeholder]="sprints?.length ? 'Sprint' : 'No sprints for project'"
                    [disabled]="!sprints?.length">
          <mat-option *ngFor="let sprint of sprints"
                      [value]="sprint._id">Sprint {{sprint.index}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <app-sprint-drag-and-drop *ngIf="currentSprint"
                            [tasks]="currentSprint.tasks"></app-sprint-drag-and-drop>
</div>

<ng-template #loading>
  <div class="loader">
    <mat-spinner [diameter]="25"></mat-spinner>
    <h3>Loading sprints...</h3>
  </div>
</ng-template>
