<div mat-dialog-content>
  <form *ngIf="projectUsers; else loadingUsers"
        [formGroup]="form">
    <mat-form-field>
      <mat-select formControlName="users"
                  placeholder="User to add">
        <mat-option>
          <ngx-mat-select-search formControlName="search"
                                 placeholderLabel="Search for user..."></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let user of allUsers"
                    (click)="addUser(user)">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip *ngFor="let user of projectUsers"
                [removable]="true"
                (removed)="removeUser(user._id)">{{user.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </form>
  <ng-template #loadingUsers>
    <div class="loader">
      <mat-spinner [diameter]="25"></mat-spinner>
      <h4>Loading project users...</h4>
    </div>
  </ng-template>
</div>
<div mat-dialog-actions
     class="actions">
  <button mat-raised-button
          color="primary"
          (click)="onCancelClick()">
    Close
  </button>
</div>
